## Classificação de vinhos LinearSVC

In [112]:
import pandas as pd
import os
print(f'Esperamos trabalhar no diretório: \n{os.getcwd()}\n')

Esperamos trabalhar no diretório:
C:\Users\Gustavo\Documents\INSPER2\Alura\Maquina_Aprende\Meus projetos

In [113]:
filename = 'winequalityN.csv'

if filename in os.listdir():
    print(f'Parece que o arquivo {filename} está na mesma pasta do notebook, yay!')
    
else:
    print(f'Não encontrei o arquivo {filename}')

Parece que o arquivo winequalityN.csv está na mesma pasta do notebook, yay!

In [114]:
df = pd.read_csv('winequalityN.csv')
df

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,white,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,white,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,NaN,11.2,6
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [115]:
# avaliar a distribuição 
df['type'].value_counts(True).round(2)

white    0.75
red      0.25
Name: type, dtype: float64

In [116]:
df['type'] = df['type'].replace('red',1)
df['type'] = df['type'].replace('white',0)
#df.describe # observa-se valores NaN, portanto vou excluir essas linhas na celula seguinte, porem a melhor forma de ver isso é:
df.isnull().sum().sort_values(ascending = False)[:13]
df.shape

(6497, 13)

In [117]:
df.dropna(subset = ['fixed acidity'], inplace = True)
df.dropna(subset = ['pH'], inplace = True)
df.dropna(subset = ['volatile acidity'], inplace = True)
df.dropna(subset = ['sulphates'], inplace = True)
df.dropna(subset = ['citric acid'], inplace = True)
df.dropna(subset = ['chlorides'], inplace = True)
df.dropna(subset = ['residual sugar'], inplace = True)
df.shape

(6463, 13)

In [118]:
x = df[["fixed acidity","volatile acidity","citric acid","residual sugar","chlorides","free sulfur dioxide","total sulfur dioxide","density","pH","sulphates","alcohol","quality"]]
x.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.994,3.3,0.49,9.5,6

In [119]:
y = df['type']
y.head(2)

0    0
1    0
Name: type, dtype: int64

In [132]:
treino_x = x[:5100]
treino_y = y[:5100]
teste_x = x[5100:]
teste_y = y[5100:]

print("O treino vai ser com %d elementos e o teste vai ser com %d elementos" % (len(treino_x), len(teste_x)))

O treino vai ser com 5100 elementos e o teste vai ser com 1363 elementos

In [133]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 85.55%

C:\Users\Gustavo\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)